.selectStat {
  border-radius: 15px;
  padding: 2px 15px 2px 15px;
  overflow: hidden;
}

.block-stat {
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.block-stat p {
  font-size: 2rem;
  text-align: center;
}
